## Not extending base_ajax.htm or any other template so formlib stays independent (and can be copied from project to project).
## Therefore, links() must be included explicitly to get form.css and/or form.js, if they exist.
${ django_mako_plus.links(self) }

<div class="form-container">
    <form id="${ form.form_id }" action="${ form.form_action or '' }" method="${ form.form_method }">

        ## csrf token
        ${ csrf_input }

        ## form fields, help text, and errors
        ${ form.as_p() }

        ## submit button
        <p class="text-center"><button type="submit" class="btn btn-primary">${ form.submit_text | h }</button></p>

    </form>
</div>